<main class="flex items-center justify-center flex-col" id="calculator-container">
    <section class="bg-waikawa-gray-400 flex flex-col px-4 py-3 gap-y-2 rounded-md">
        <p class="font-semibold text-xl text-center">Calculadora de propinas</p>
        <label for="montoTotal" class="text-waikawa-gray-900">Monto total:</label>
        <input type="number" name="" id="monto"  class="rounded-[4px] px-1">
        <label for="numeroComensales" class="text-waikawa-gray-900">Numero de personas:</label>
        <input type="number" name="" id="personas" class="rounded-[4px] px-1">
        <label for="procentajePropina" class="text-waikawa-gray-900">Porcentaje de propina:</label>
        <div class="w-full" id="option-container">
            <select name="" id="propina" class="rounded-[4px] w-full">
                <option value=0>0%</option>
                <option value=15>15%</option>
                <option value=25>25%</option>
                <option value=30>30%</option>
                <option value=50>50%</option>
                <option value="otro">Otro</option>
            </select>
        </div>

        <figure class="flex mx-auto">
            <button id="calcular" class="bg-waikawa-gray-500 mt-2 px-2 py-1 rounded-md hover:bg-waikawa-gray-600 transition-all duration-150">Calcular propina</button>
        </figure>
    </section>
    <div id="result-container">

    </div>
</main>

<script src="../js/app.js"></script>